html, body {
  font-family: Robotto, sans-serif;
  height: 100%;
  width: 100%;
  z-index: 0; }

.padNav {
  padding-top: 64px; }

.waves-effect {
  position: static; }

.nav-wrapper-outer {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%; }
  .nav-wrapper-outer .brand-logo {
    margin-left: 10px; }
  @media screen and (max-width: 992px) {
    .nav-wrapper-outer {
      position: absolute; } }
  .nav-wrapper-outer .nav-wrapper .nav-search {
    width: 65%;
    margin-left: 13%;
    border-radius: 3px; }
    .nav-wrapper-outer .nav-wrapper .nav-search #search {
      width: calc(100% - 5rem); }
    @media screen and (max-width: 992px) {
      .nav-wrapper-outer .nav-wrapper .nav-search {
        width: 80%;
        margin-left: 10%; } }
    .nav-wrapper-outer .nav-wrapper .nav-search div i.active {
      color: #000 !important; }
    .nav-wrapper-outer .nav-wrapper .nav-search div label.active i {
      color: #000 !important; }
  .nav-wrapper-outer .nav-wrapper .shopping-cart-icon {
    transition: background-color .3s;
    cursor: pointer; }
    .nav-wrapper-outer .nav-wrapper .shopping-cart-icon:hover {
      background-color: rgba(0, 0, 0, 0.1); }

#searchDetails {
  padding: 10px;
  margin-top: -15px;
  width: 100%;
  height: 300px;
  background: white;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  overflow-x: hidden;
  overflow-y: hidden;
  width: 63%;
  margin-left: 13%; }
  #searchDetails .search-filters {
    overflow-y: scroll;
    height: 100%; }
  #searchDetails .genre-filters {
    overflow-y: scroll;
    height: 100%; }

#cart {
  z-index: 10;
  background: white;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -450px;
  width: 450px;
  max-width: 90%; }
  #cart .books {
    height: 85%;
    padding: 10px; }
    #cart .books .cart-book {
      border-bottom: 1px rgba(0, 0, 0, 0.2) solid; }
    #cart .books .cover {
      height: 75px;
      width: 75px; }
  #cart .actions {
    height: 10%;
    margin: auto;
    text-align: center; }
    #cart .actions .btn {
      width: 130px;
      margin: 10px; }

#dark-cover {
  display: none;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0; }

.fixedElement {
  position: absolute;
  width: 100%;
  z-index: 100; }

.login {
  text-align: center; }
  .login h2 {
    font-family: "HammersmithOne", "Helvetica", sans-serif;
    font-size: 36px;
    margin-bottom: 0; }
  .login .buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px; }

.signup {
  margin-top: 30px;
  padding: 50px; }
  .signup .header {
    font-family: "Roboto", "Helvetica", sans-serif;
    font-weight: bold;
    font-size: 20px; }
    .signup .header .material-icons {
      vertical-align: text-bottom; }
  .signup .contact {
    color: #42A5F5; }
  .signup .address {
    color: #FFB74D; }
  .signup .payment, .signup .employment {
    color: #4CAF50; }
  .signup .account {
    color: #EF5350; }
  .signup .row {
    margin-bottom: 0; }
    .signup .row .input-field {
      padding-left: 0; }
      .signup .row .input-field label {
        left: 0; }

.bookCarousel {
  width: 100%;
  margin-right: 10px;
  display: inline-block;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto; }

.book {
  background-color: white;
  margin: 10px 15px;
  max-width: 250px;
  position: relative;
  text-align: left; }
  .book .cover {
    width: 100%;
    height: auto; }
  .book .title {
    position: absolute;
    font-size: 20px;
    top: 210px;
    color: white;
    text-shadow: 1px 1px 6px #000000; }
  .book .details {
    padding: 7px; }
    .book .details p {
      margin-top: 5px;
      margin-bottom: 5px; }
    .book .details .actions {
      margin-top: 5px;
      padding: 5px 0;
      border-top: 1px rgba(0, 0, 0, 0.2) solid; }

#content {
  height: 2000px; }

.homepage-section {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  position: relative; }
  .homepage-section .section-heading {
    padding-top: 72px;
    padding-left: 10px;
    margin: 0;
    color: white;
    text-shadow: 1px 1px 6px #000000; }
  .homepage-section#section-login {
    background: url("http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-332800.jpg");
    background-size: cover; }
  .homepage-section#section-popular {
    background: url("http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-321572.jpg");
    background-size: cover; }
  .homepage-section#section-new {
    background: url("http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-246627.jpg");
    background-size: cover; }
  .homepage-section#section-recommended {
    background: url("http://placehold.it/1920x1080");
    background-size: cover; }
  .homepage-section .books {
    position: absolute;
    bottom: 30px;
    background-color: white;
    left: 50%;
    transform: translate(-50%);
    width: 940px; }
    @media screen and (max-width: 600px) {
      .homepage-section .books {
        width: 95; } }
    @media screen and (max-width: 992px) {
      .homepage-section .books {
        width: 90%; } }
  .homepage-section .login-buttons {
    position: absolute;
    bottom: 60px;
    width: 100%;
    max-width: none; }

/*# sourceMappingURL=homepage.css.map */
