@import "navbar.scss";
@import "book.scss";

.bookNav {
    .nav-wrapper-outer {
        z-index: 10000000;
    }
}

#profileContent {
    overflow-x: hidden;
}

#bookProfileTop {
    height: 900px;
    .tab-row {
        @media screen and (max-width: 992px) {
            position:relative;
        }
        margin-top: 20px;
        padding: 20px;
        overflow-x: hidden;
        padding: 0;
        z-index: 1;
    }
    .row .col.s12 {
        width: 101%;
    }
    padding-right: 10px;
}

#bookInfo {
    height: 100%;
    padding: 10px;
    overflow-y: auto;
    position: relative;
    p {
        font-size: 110%;
    }
    .card {
        z-index: 1;
    }
    .left-align {
        display: inline-block;
    }
    .right-align {
        display: inline-block;
        position: absolute;
        right: 12px;
    }
}

#addToCart {
    margin-top: 80px;
}

#bookAvailable {
    margin-top: 50px;
    margin-bottom: 50px;

    max-width: 300px;
}

.bookPreview {
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

.bookThumb {
    width: 150px;
    height: 200px;
}

.recommendContainer {
    padding: 15px;
}

.bookRecommend{
    overflow-x: auto;
    white-space: nowrap;
}

#imagesTab {
    height: 800px;
    background-color: gray;
    img {
        display: block;
        margin: auto;
    }
}

#reviewsTab {
    height: 800px;
    background-color: gray;
}
