html, body {
    font-family: Robotto, sans-serif;
    height:100%;
    width:100%;
    z-index: 0;
}

$tloa-green: #4CAF50;
$tloa-red: #EF5350;
$tloa-blue: #42A5F5;
$tloa-yellow: #FFB74D;

.padNav {
    padding-top: 64px;
}

.waves-effect {
    position: static
}

.nav-wrapper-outer {
    // z-index: 9;
    position:fixed;
    top:0px;
    left:0px;
    width:100%;

    .brand-logo {
        margin-left: 10px;
    }
    @media screen and (max-width: 992px) {
        position:absolute;
        // margin-left: 10%
    }
    .nav-wrapper {
        .nav-search {
            width: 65%;
            margin-left: 13%;
            border-radius: 3px;

            #search {
                width: calc(100% - 5rem);
            }
            // @include media(min-width: 768px) {
            //
            // }

            @media screen and (max-width: 992px) {
                width: 80%;
                margin-left: 10%
            }

            div {
                i.active {
                    color:#000 !important;
                }

                label.active {
                    i {
                        color:#000 !important
                    }
                }
            }
        }

        .shopping-cart-icon {
            transition: background-color .3s;
            cursor: pointer;
            &:hover {
                background-color: rgba(0,0,0, 0.1)
            }
        }
    }
}

#searchDetails {
    padding: 10px;
    margin-top: -15px;
    width: 100%;
    height:300px;
    background: white;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    overflow-x: hidden;
    overflow-y: hidden;

    width: 63%;
    margin-left: 13%;
    .search-filters {
        overflow-y: scroll;
        height: 100%;
    }

    .genre-filters {
        overflow-y: scroll;
        height: 100%;
    }
}

#cart {
    z-index: 10;
    background: white;
    position: fixed;
    top:0;
    bottom:0;
    right:-450px;
    width:450px;
    max-width: 90%;
    .books {
        height:85%;
        padding:10px;
        .cart-book {
            border-bottom: 1px rgba(0,0,0,0.2) solid;
        }
        .cover {
            height: 75px;
            width:75px;
        }
    }

    .actions {
        height: 10%;
        margin: auto;
        text-align: center;
        .btn {
            width: 130px;
            margin:10px
        }
    }
}

#dark-cover {
    display: none;
    z-index: 10;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background-color: #000000;
    opacity: 0;
}

.fixedElement {
    position:absolute;
    width:100%;
    z-index:100;
}

.login {
  text-align: center;

  h2 {
    font-family: "HammersmithOne", "Helvetica", sans-serif;
    font-size: 36px;
    margin-bottom: 0;
  }

  .buttons{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
  }

}

.signup {
    margin-top: 30px;
    padding: 50px;

    .header {
        font-family: "Roboto", "Helvetica", sans-serif;
        font-weight: bold;
        font-size: 20px;

        .material-icons {
            vertical-align: text-bottom;
        }
    }

    .contact {
        color: $tloa-blue;
    }

    .address {
        color: $tloa-yellow;
    }

    .payment, .employment {
        color: $tloa-green;
    }

    .account {
        color: $tloa-red;
    }

    .row {

        margin-bottom: 0;

        .input-field {

            padding-left: 0;

            label {
                left: 0;
            }
        }
    }
}
