@import 'navbar.scss';
@import 'book.scss';

.searchNav {
	.nav-wrapper-outer {
		z-index: 10000000;
	}
}

.searchBanner {
    height: 400px;
    background: url('http://placehold.it/300x400');
    background-size: cover;
    margin: 0;
}

.searchResults {
    text-align: center;
}

.searchTabs {
    i {
        margin-top: 10px;
    }
}

#loadButton {
    width: 100%;
}